@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Parisienne&display=swap');

.menu-title-div {
    width: 100%;
    height: auto;
    text-align: center;
}

.menu-title-text {
    font-size: 4.25vmin;
    font-family: 'Parisienne', cursive;
    margin: 0px;
}

.menu-item-text {
    font-family: 'Parisienne', cursive;
}

@keyframes header-to-color {
    from { background-color: transparent; }
    to { background-color: black; }
}

@keyframes header-to-transparent {
    from { background-color: black; }
    to { background-color: transparent; }
}

@keyframes header-text-to-color {
    from { color: transparent; }
    to { color: white; }
}

@keyframes header-text-to-transparent {
    from { color: white; }
    to { color: transparent; }
}