@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Playfair+Display+SC&display=swap');

.welcome-root {
  height: 100vh;
  width: 100vw;
  max-width: 100%;
}

.welcome-text-box {
  height: 65%;
}

.welcome-rsvp-box {
  height: 10%;
}

.welcome-countdown-box {
  height: 25%;
}

.welcome-text {
  text-align: center;
  font-weight: 100;
  color: rgb(218, 218, 218);
  text-shadow: 1px 1px 8px black;
  margin-block-start: 0;
}

.welcome-text-title {
  font-family: 'Playfair Display SC', serif;
  font-size: 10vmin;
}

.welcome-text-split {
  font-family: 'Dancing Script', cursive;
  font-size: 5vmin;
}

.welcome-text-date {
  font-family: 'Dancing Script', cursive;
  padding-top: 4vmax;
  font-size: 6.5vmin;
}