.registries-root {
    text-align: center;
    font-family: 'Playfair Display SC', serif;
    font-size: 6vmin;
}

.registries-title {
    margin: 3vmin;
}

.registries-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.registries-icon {
    width: calc(100px + 6vmin);
    height: calc(100px + 6vmin);
    border-radius: 35%;
    padding: 8vmin;
}