.registries-root {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: calc(10px + 7vmin);    
}

.registries-title {
    margin: 3vmin;
}

.registries-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.registries-icon {
    width: calc(100px + 8vmin);
    height: calc(100px + 8vmin);    
    border-radius: 35%;
    padding: 3vmin;
}