.registries-root {
    text-align: center;
    padding-bottom: 30px;
}

.registries-title {
    padding: 3vmin;
    font-family: 'Playfair Display SC', serif;
    font-size: 6vmin;
    position: relative;
}

.registries-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.registries-icon {
    width: 12ch;
    height: 12ch;
    border-radius: 35%;
    margin-left: 7vmin;
    margin-right: 7vmin;
    margin-bottom: 5vmin;
}