.maps-root {
    text-align: center;
    height: 500px;
}

.maps-title {
    padding: 20px;
    font-size: 6vmin;
    font-family: 'Playfair Display SC', serif;
}

.maps-content {
    display: flex;
    height: 340px;
    justify-content: center;
    align-items: center;
}

.maps-icons-wrap {
    display: flex;
    flex-wrap: wrap;
}

.maps-icon {
    width: 12ch;
    height: 12ch;
    border-radius: 35%;
    margin-left: 7vmin;
    margin-right: 7vmin;
    margin-bottom: 5vmin;
}

.maps-image-info {
    height: auto;
    margin-bottom: 20px;
}