.maps-root {
    text-align: center;
    font-family: 'Playfair Display SC', serif;
    font-size: 7vmin;
}

.maps-title {
    padding: 20px;
}

.maps-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.maps-icon {
    width: calc(100px + 6vmax);
    height: calc(100px + 6vmax);
    border-radius: 35%;
    padding: 8vmin;
}