.story-root {
    height: auto;
    margin-bottom: 50px;
    text-align: center;
    width: 100%;
}

.story-text-title-div {
    padding: 20px;
    display : block;
    overflow: hidden;
}

.story-text-title {
    font-size: 7vmin;
    font-family: 'Playfair Display SC', serif;
    position: relative;
}

.story-line-root {
    width: 100%;
}

.story-line-row {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100%;
}

.story-line-left {
    border-color: black;
    border-right: solid;
    overflow: hidden;
    width: 100%;
    margin-left: 5px;
}

.story-line-right {
    overflow: hidden;
    width: 100%;
    margin-right: 5px;
}

.story-card-content {
    display: flex;
    flex-wrap: nowrap;
    position: relative;
}

.story-card-left-animate {
    animation-name: left-card-ease-in;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}

.story-card-right-animate {
    animation-name: right-card-ease-in;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}

.story-line-empty-card {
    width: 100%;
}

.story-line-link {
    height: auto;
    width: 8vmin;
}

h4 {
    display: flex;
    flex-direction: row;
    position: relative;
    top: 40%;
}

h4:before,
h4:after {
    content: "";
    flex: 1 1;
    border-bottom: 3px solid #000;
    margin: auto;
}

@keyframes left-card-ease-in {
    from { right: 50vw; }
    to { right: 0px; }
}

@keyframes right-card-ease-in {
    from { left: 50vw; }
    to { left: 0px; }
}