.timeline-root {
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.timeline-title {
    color: white;
    padding: 20px;
    font-size: 7vmin;
    font-family: 'Playfair Display SC', serif;
    margin-left: 40vw;
}

.timeline-content {
    height: 500px;
}