.timeline-root {
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.timeline-title {
    color: black;
    padding: 20px;
    font-size: 6vmin;
    font-family: 'Playfair Display SC', serif;
    padding-bottom: 0;
}

.timeline-content {
    height: auto;
}

table {
    margin-left: auto;
    margin-right: auto;
    width: auto;
    font-size: 1.75em;
    font-family: 'Dancing Script', cursive;
    color: black;
}

.table-time-cell {
    width: 50%;
    text-align: right;
    padding: 1ch;
    padding-right: 2ch;
}

.table-descr-cell {
    width: 50%;
    text-align: left;
    padding: 1ch;
    padding-left: 2ch;
}

.leaves {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 90%;
}