.main-root {
  height: 100vh;
  width: 100vw;
}

.intro-root {

}

.intro-image {
  height: 100vh; 
  width: 100vw;
}

.intro-text {
  font-size: calc(10px + 5vmin);
  font-family: cursive;
  color: rgb(218, 218, 218);
}

.intro-welcome {
  position: absolute;
  text-align: center;
  top: 5%;
  left: 40%;
}

.registries-div {
  background-color: #282c34;
}

.flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
